
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br><br><br><br><br>
        <h1 class="header center teal-text text-lighten-2"><!--멋쟁이 사자처럼--></h1>
  
         <div class="container">
            <div class="col s12 m4">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/25aa73PGC7I" frameborder="0" allowfullscreen></iframe>
      </div> </div>
        <div class="row center">
          <h5 class="header col s12 light"> </h5>
        </div>
        <div class="row center">
          <a href="https://www.facebook.com/멋쟁이사자처럼-at-강원대학교-465239337010158/?notif_t=page_user_activity" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Start</a>

        </div>
    
        <div class="fb-like" data-href="https://www.facebook.com/&#xba4b;&#xc7c1;&#xc774;&#xc0ac;&#xc790;&#xcc98;&#xb7fc;-at-&#xac15;&#xc6d0;&#xb300;&#xd559;&#xad50;-465239337010158/" data-width="60px" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
        <br>
        <div class="col s12 m4">
        </div>
              
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">원하는 IT 서비스를 빠르게 만들 수 있습니다.</h5>

            <p class="light"> 학점 계산기, 시간표, 페이스북과 인스타그램, 트위터 등의 심플버전도 만들 수 있습니다. 그렇다고 스티브 잡스, 마크 주크버그가 똭!! 될 수 없지만.. 그들에게 한 걸음 더 가까이 나아갈 수 있는 계기가 될지 모릅니다.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">좋은 사람들과 만남이 있습니다.</h5><br>

            <p class="light"> 기본적으로 교내 스터디로 진행되는 멋쟁이사자처럼! 하지만 기회는 열려 있습니다. 아이디어 경진대회, 해커톤 등을 통해서 타 대학 학생들과 교류도 가능하고 함께 신나는 무언가(maybe..직박구리 서비스?)를 만들어 나갈 수도 있습니다.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">생각보다 쉽습니다.</h5><br>

            <p class="light">만약 지금 PC라면 Ctrl+U를 눌러보세요! 화면에 보이는 외계어들이 보이시나요? 하지만 걱정마세요 저희가 그 까막눈을 뜨게 해드립니다. 게다가 우리 학교의 포탈이 얼마나 거지같이 만들어져있는지! 왜 핸드폰으로 접속이 어려운지! 크롬으로는 들어갈 수 없는지..왜 수강신청 사이트만 가능한지! 모두 알 수 있습니다.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
   <div class="slider">
    <ul class="slides">
      <li>
        <img src="/IMG/background1.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h4>멋쟁이 사자처럼 4기</h4>
          <h5 class="light grey-text text-lighten-3">이제 시작합니다.</h5>
        </div>
      </li>
      <li>
        <img src="/IMG/background3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>  </h3>
          <h5 class="light grey-text text-lighten-3"> </h5>
        </div>
      </li>
    </ul>
  </div>
  
  
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>저희에게 연락주세요!</h4>
          <p class="left-align light"> <a href="https://www.facebook.com/%EB%A9%8B%EC%9F%81%EC%9D%B4%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC-at-%EA%B0%95%EC%9B%90%EB%8C%80%ED%95%99%EA%B5%90-465239337010158/?ref=hl">페이스북 페이지</a></p>
        </div>
      </div>

    </div>
  </div>

  

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">멋쟁이 사자처럼 4기</h5>
          <p class="grey-text text-lighten-4"> 3월부터~9월까지 전국 대학교 멋쟁이 사자처럼 동아리 해외 대학교 동아리와 함께 합니다!</p>
          <p class="grey-text text-lighten-4"> E-mail   likelionknu@gmail.com </p>


        </div>
        <!--
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://www.facebook.com/%EB%A9%8B%EC%9F%81%EC%9D%B4%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC-at-%EA%B0%95%EC%9B%90%EB%8C%80%ED%95%99%EA%B5%90-465239337010158/">Likelion at KNU</a>
      </div>
    </div>
  </footer>
