
<div id="disqus_thread"></div>
<script type="text/javascript">
  if(typeof DISQUS === 'undefined'){
    var disqus_shortname = 'likelionnknu'; // required: replace example with your forum shortname
    var disqus_config = function () {
      this.page.url = '<%= request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.title = '<%= page_title %>'
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//likelionnknu.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  }else{
    DISQUS.reset({
      reload: true,
      config: function () {
        this.page.url = 'PAGE_URL';
        this.page.title = '<%= page_title %>';
      }
    });
  }
</script>
<noscript>Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript' rel='nofollow'>comments powered by Disqus.</a></noscript>
